[Unit]
Description=Auto Login Captive Portal
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/captive.sh
Restart=always
RestartSec=10
User=root
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

# Clean termination
TimeoutStopSec=15
KillMode=mixed

[Install]
WantedBy=multi-user.target loadbalance.target
